.Container {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-size: 12px;
    background-image: url(../Img/portada-M4EC.jpg);
}

.Search {
    margin: auto;
    border: 1px solid;
    background-color: rgba(255, 255, 255, .87);
}
.FormInd {
    width: 70%;
    margin-left: 15%;
    border:1px solid;
    margin-bottom: 2%;
    background-color: rgba(255, 255, 255, .87);
}

.Form {
    width: 70%;
    margin-left: 15%;
    margin-top:6%;
    margin-bottom: 6%;
    background-color: rgba(255, 255, 255, .87);
}

.margin .row .col {
    padding: 1% 1% 1% !important; 
    border-radius: 2%;
}

.btn {
    text-align: center;
}

.row .col {
    padding: 4% 4% 2%;
    border-radius: 2%;
}

nav ,.page-footer {
    background-color: #09315c;
}

nav {
    margin-bottom: 2%;
}

.page-footer{
    width:144%;
    margin-left:-22%;
}